body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e3e3ff;
    color: rgb(47, 0, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

header{
text-align: left; 
padding: 0px;
 margin: 0px;
}

main{
  background-color: white;
  border-width: 7px;
  border-color:  rgb(47, 0, 165);
  border-style: none none solid solid;
  padding: 2rem;
  border-radius: 20px;
}

h3{
  margin-top: 0px;
}

ul{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


